# Python cache
.vscode/
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# HuggingFace / model cache
model_cache/
.cache/
.huggingface/

# Jupyter
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db
