<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot-InTaz</title>

    <!-- CSS LINK -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  </head>
  <body>
    <div class="chat-container">
      <!-- HEADER -->
      <header class="chat-header">
        <h2>Chatbot InTaz</h2>
        <span>Politeknik Insan Tazakka</span>
      </header>

      <!-- CHAT AREA -->
      <main class="chat-body" id="chatBody">
        <div class="message bot">
          <div class="bubble">
            Halo saya AdminTaz. Ada yang bisa saya bantu?
          </div>
        </div>
      </main>

      <!-- INPUT AREA -->
      <footer class="chat-input">
        <input
          type="text"
          id="userInput"
          placeholder="Tulis pertanyaan anda disini..."
          autocomplete="off"
        />
        <button id="sendBtn">Kirim</button>
      </footer>
    </div>

    <!-- JAVASCRIPT -->
     <script src="{{url_for('static', filename='javascript/script.js')}}"></script>
  </body>
</html>
