/* BASIC RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* FULLSCREEN CONTAINER */
.chat-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

/* HEADER */
.chat-header {
  background-image: linear-gradient(to right, #4ade80, #14b8a6);
  color: white;
  padding: 1rem;
  text-align: center;
}

.chat-header h2 {
  font-size: calc(1rem + 2px);
}

.chat-header span {
  font-size: calc(1rem - 4px);
  opacity: 0.8;
}

/* CHAT BODY */
.chat-body {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

/* MESSAGE */
.message {
  display: flex;
  margin-bottom: calc(0.8rem + 2px);
}

.message.bot {
  justify-content: flex-start;
}

.message.user {
  justify-content: flex-end;
}

/* CHAT BUBBLE */
.bubble {
  max-width: 70%;
  padding: calc(0.8rem + 2px) calc(1rem - 4px);
  border-radius: calc(0.8rem + 2px);
  font-size: calc(1rem - 4px);
  line-height: 1.5;
  word-wrap: break-word;
}

/* BOT BUBBLE */
.message.bot .bubble {
  background-color: #bbf7d0;
  color: #064e3b;
}

/* USER BUBBLE */
.message.user .bubble {
  background-color: #064e3b;
  color: white;
}

/* INPUT AREA */
.chat-input {
  display: flex;
  padding: calc(0.8rem + 2px);
  background-color: white;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: calc(0.8rem + 2px);
  font-size: calc(1rem - 2px);
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chat-input button {
  margin-left: calc(0.8rem + 2px);
  padding: calc(0.8rem + 2px) calc(1rem - 1px);
  font-size: calc(1rem - 2px);
  background-image: linear-gradient(to right, #4ade80, #14b8a6);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-input button:hover {
  opacity: 0.8;
}
